body {
    margin: 0;
    text-align: center;
    height: 100vh;
}

#root {
    height: 100vh;
}
h1 {
    color: #EEEEEE;
}

.container {
    animation: mymove 1s ease-in-out; 
    animation-fill-mode: forwards; 
}

.container img {
    margin: auto;
    /* margin-left: 50px; */
    animation: popOut 1s ease-in-out; 
    animation-fill-mode: forwards; 
}

.showElement {
    animation: showInput 1.25s ease-in-out; 
    animation-fill-mode: forwards; 
}


@keyframes popOut {
    0% {
        opacity: 0;
        transform: scale(1.4,1.4) 
    }
    20% {
        opacity: 0;
        transform: scale(1.4,1.4) 
    }
    100% {
        opacity: 1;
        transform: scale(1.0,1.0) 
    }
}
    
@keyframes mymove {
    0% {
        /* margin-top: 15%; */
        transform: translate(0, 50%)
    }
    20% {
        transform: translate(0, 50%)
    }
    50% {
        /* margin-top: 15%; */

        transform: translate(0, 50%)
    }
    100% {
        /* margin-top: 10%; */
        transform: translate(0, 20%)
    }
}
    
@keyframes showInput {
    0% {
        opacity: 0%;
    }
    95% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}